In [1]:
PATH_TO_TRAIN = 'data/yoochoose-clicks.dat'
PATH_TO_TEST = 'data/yoochoose-buys.dat'

In [2]:
import pandas as pd
import numpy as np

In [3]:
traindata_header = ['SessionID', 'Timestamp', 'Itemid', 'Category']
validdata_header = ['SessionID', 'Timestamp', 'Itemid', 'Price', 'Quantity']
train_dtype={'SessionID': object, 'Timestamp': object, 'Itemid': object, 'Category': object}
valid_dtype={'SessionID': object, 'Timestamp': object, 'Itemid': object, 'Price': object, 'Quantity':object}

In [4]:
train = pd.read_csv(PATH_TO_TRAIN, sep=',', dtype=train_dtype, names=traindata_header)
valid = pd.read_csv(PATH_TO_TEST, sep=',', dtype=valid_dtype, names=validdata_header)

In [5]:
train.head()

  SessionID                 Timestamp     Itemid Category
0         1  2014-04-07T10:51:09.277Z  214536502        0
1         1  2014-04-07T10:54:09.868Z  214536500        0
2         1  2014-04-07T10:54:46.998Z  214536506        0
3         1  2014-04-07T10:57:00.306Z  214577561        0
4         2  2014-04-07T13:56:37.614Z  214662742        0

In [6]:
valid.head()

  SessionID                 Timestamp     Itemid  Price Quantity
0    420374  2014-04-06T18:44:58.314Z  214537888  12462        1
1    420374  2014-04-06T18:44:58.325Z  214537850  10471        1
2    281626  2014-04-06T09:40:13.032Z  214535653   1883        1
3    420368  2014-04-04T06:13:28.848Z  214530572   6073        1
4    420368  2014-04-04T06:13:28.858Z  214835025   2617        1

## Training

In [9]:
layers = 1